.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 75px;
    z-index:200;
    padding-top: 5px;
    
}
.sidebar-link{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 106px;
   flex-direction: column;
   cursor: pointer;
    
}
.sidebar-link:hover{
    background-color: rgb(177, 173, 173);
}
.sidebar-link img{
    height: 24px;
    margin-bottom:4px;

}
.sidebar-link div{
    font-family: roboto,Arial, Helvetica, sans-serif;
    font-size: 10px;

}